@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");
.attribution {
    font-size: 0.6875rem;
    text-align: center;
}
.attribution a {
    font-size: 0.6875rem;
    color: hsl(228, 45%, 44%);
}
main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
header {
    padding: 3em 0;
}
.dashboard-img {
    width: 100%;
}
h1 {
    color: hsl(0, 0%, 59%);
    font-size: 48px;
    font-weight: 300;
}
h1 span {
    color: hsl(209, 33%, 12%);
    font-size: 48px;
    font-weight: 700;
}
.block {
    width: 100%;
    gap: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block p {
    color: hsl(209, 33%, 12%);
}
form {
    width: 100%;
    display: flex;
    align-items: start;
    gap: 0.5em;
}
.input-block {
    display: flex;
    flex-direction: column;
    width: 68%;
    gap: 0.5em;
}
.error-text {
    color: hsl(354, 100%, 66%);
    padding-left: 2em;
    font-size: 14px;
    font-style: italic;
}
.email-input,
.submit-btn {
    padding: 0.8rem;
    border-radius: 30px;
    border: none;
    font-size: 17px;
}
.email-input {
    border: 1px solid hsl(0, 0%, 81%);
    width: 100%;
    padding-left: 1.4rem;
    font-weight: 300;
}
.email-input:focus {
    outline: 0.5px solid;
}
.email-input::placeholder {
    color: hsl(0, 0%, 81%);
}
.error-input {
    outline: 1px solid hsl(354, 100%, 66%);
}
.submit-btn {
    width: 32%;
    background-color: hsl(223, 87%, 63%);
    color: white;
    font-weight: 600;
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-shadow: 4px 6px 12px 1px hsl(223, 100%, 88%);
}
.submit-btn:hover {
    background-color: hsl(223, 100%, 73%);
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 300;
    font-size: 12px;
    color: hsl(0, 0%, 59%);
    gap: 1em;
}
.link span {
    padding: 0.3em;
    border-radius: 50%;
    border: 0.5px solid hsl(0, 0%, 90%);
    display: flex;
    align-items: center;
    justify-content: center;
}
span img {
    width: 20px;
    height: 20px;
    filter: invert(47%) sepia(23%) saturate(5812%) hue-rotate(207deg)
        brightness(98%) contrast(95%);
}
.link span,
.link span img {
    transition: all 0.3s;
}
.link:hover span {
    background-color: hsl(223, 87%, 63%);
}
.link:hover span img {
    filter: brightness(0) invert(1);
}
.links {
    align-self: center;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 500px) {
    h1,
    h1 span {
        font-size: 30px;
        text-align: center;
    }
    p {
        font-size: 17px;
    }
    form {
        flex-direction: column;
    }
    .input-block,
    .submit-btn {
        width: 100%;
    }
}
